<!DOCTYPE html>
<html lang="<%= i18n.lang %>">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet" />
        <meta name="description" content="<%= i18n.welcome_meta %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="apple-touch-icon" href="/assets/logo192.png" />
        <link href="/css/content-styles.css" rel="stylesheet" />
        <link href="/css/index.css" rel="stylesheet" />
        <link rel="icon" href="/assets/favicon.ico" />
        <script type="module" src="/js/analytics.js"></script>
        <title>lukasstaub.dev - <%= title %></title>
        <meta charset="utf-8" />
    </head>
    <body>
        <header>
            <a href="/" class="page-title">lukasstaub.dev</a>

            <section class="mobile-hidden">
                <a href="/about"><%= i18n.nav_about %></a>
                <a href="/contact"><%= i18n.nav_contact %></a>
                <a href="/projects"><%= i18n.nav_projects %></a>
                <a href="/links"><%= i18n.nav_links %></a>
                <% if(false) { //TODO: think about re-implementation! %><a href="https://blog.lukasstaub.dev" target="_blank"><%= i18n.nav_blog %></a><% } %>
            </section>

            <i id="show-menu" class="fas fa-bars desktop-hidden hamburger-btn"></i>
            <i id="close-menu" class="fas fa-times hamburger-btn hidden"></i>
        </header>
        <div class="content"><%- body %></div>
        <footer>
            <p>Copyright &copy;<%= new Date().getFullYear() %> Lukas Staub.</p>
            <section>
                <a href="https://admin.lukasstaub.dev" target="_blank"><%= i18n.footer_login %></a>
                <a href="/about-page"><%= i18n.footer_page_resources %></a>
            </section>
        </footer>

        <div class="mobile-menu" id="mobile-menu">
            <a class="btn" href="/about"><%= i18n.nav_about %></a>
            <a class="btn" href="/contact"><%= i18n.nav_contact %></a>
            <a class="btn" href="/projects"><%= i18n.nav_projects %></a>
            <a class="btn" href="/links"><%= i18n.nav_links %></a>
            <a class="btn" href="https://blog.lukasstaub.dev"><%= i18n.nav_blog %></a>
        </div>

        <script src="/js/menu.js"></script>
    </body>
</html>
