<% const date = new Date(project.timestamp); %>
<main class="project-container">
    <div style="display: flex; align-items: center; justify-content: space-between">
        <h1><%= project.name %></h1>
        <% if(cookies[process.env.COOKIE_NAME]) { %><a class="btn" href="https://admin.lukasstaub.dev/projects/edit?id=<%= project.id %>" target="_blank"><%= i18n.generic_edit %></a><% } %>
    </div>
    <hr />
    <div class="contents ck-content">
        <%- project.content %>
        <p><%= i18n.projects_last_updated(`${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`, `${date.getHours()}:${date.getMinutes().toString().length > 1 ? date.getMinutes() : `0${date.getMinutes()}`}`) %></p>
    </div>
</main>
